@font-face {
    font-family: 'lcd';
    src: url('./font/DigitalDream.ttf');
}


canvas {
    position: absolute;
}

#stage {
    width: 480px;
    height: 640px;
    position: relative;
    box-shadow: 1px 1px 12px #555;
    background-color: black;
}

#ui-layer {
    z-index: 3
}

#game-layer {
    z-index: 2
}

#background-layer {
    z-index: 1
}

.transparent-btn {
    background-color: transparent;
    border-color: transparent;
}

.btn-mute-on {
    height: 30px;
    width: 30px;
    background: url('./image/sound64.svg') center no-repeat;
    background-size: 20px 20px;
}

.btn-mute-off {
    height: 30px;
    width: 30px;
    background: url('./image/mute10.svg') center no-repeat;
    background-size: 20px 20px;
}
